apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: test
  name: ngnix-ngress
spec:
  ingressClassName: azure-application-gateway
  rules:
  - host: test.sujeetkushwaha.shop
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: nginx
            port: 
              number: 80
