# apiVersion: v1
# kind: Service
# metadata:
#   namespace: test
#   name: nginx-service
# spec:
#   selector:
#     app: nginx
#   ports:
#     - protocol: TCP
#       port: 80
#       targetPort: 80
  

